{{ define "section_content" }}<div class="section" id="content">{{ .Content }}<br/><q>Keep scrolling!</q><ul>{{ range .Data.Pages }}<li>
{{ if .Params.showDate }}

{{ .Date.Format (.Site.Params.dateForm | default "Mon Jan 02, 2006")}} --

{{ end }}
{{ $previewSubdirectory := .Site.Params.smallImagesSubfolder | default "small/"}}
{{ $previewImagesEnabled := .Site.Params.smallPreviewImages }}
{{ $cursubfolder := index (last 1 (split (delimit (split .Permalink "/") "," "") ",")) 0 }}
{{ $name := .Site.Params.galleryFolder | default "images/"}}
{{ $path := "gallery/" }}
{{ $content := "/content/" }}
{{ $src := (print $path $name $cursubfolder) }}

{{ $folder := (print $content $path $name $cursubfolder) }}

{{ $files := readDir $folder }}<a href="{{.Permalink}}">{{.Title}}</a><br/>{{ if $previewImagesEnabled}}<a href="{{.Permalink}}"><img src="{{ $src | absURL }}/{{ $previewSubdirectory }}{{ (index $files 0).Name }}" width="50%" height="50%"/></a>{{ end }}</li>{{ end }}</ul></div>{{ end }}