{{ define "section_content" }}
<div class="section" id="content">
    <div class="author-head-container">
        <img src="{{ .Site.BaseURL }}/authors/{{ .Params.name }}/avatar.jpg" style="width: 150px;"/>
        <h1>{{ .Params.name }}</h1>
        <p><i>{{ .Params.bio }}</i></p>
        <hr/>
        <div class="contact-container">
            <ul>
                {{ with .Params.contact.twitter }}
                    <li >
                        <a href="https://twitter.com/{{ substr . 1 }}">
                            <i class="fa fa-twitter-square" style="font-size:25px;"></i>
                        </a>
                    </li>
                {{ end }}
                {{ with .Params.contact.github }}
                    <li >
                        <a href="https://github.com/{{ . }}">
                            <i class="fa fa-github-square" style="font-size:25px;"></i>
                        </a>
                    </li>
                {{ end }}
                {{ with .Params.contact.linkedin }}
                    <li >
                        <a href="https://linkedin.com/{{ . }}">
                            <i class="fa fa-linkedin-square" style="font-size:25px;"></i>
                        </a>
                    </li>
                {{ end }}
                {{ with .Params.contact.facebook }}
                    <li >
                        <a href="https://facebook.com/{{ . }}">
                            <i class="fa fa-facebook-square" style="font-size:25px;"></i>
                        </a>
                    </li>
                {{ end }}
                {{ with .Params.contact.email }}
                    <li>
                        <a href="mailto: {{ . }}">
                            <i class="fa fa-envelope-square" style="font-size:25px;"></i>
                        </a>
                    </li>
                {{ end }}
            </ul>
        </div>
    </div>
    {{ .Content }}


    <h2>Articles</h2>
    <ul>
        {{ range .Data.Pages }}
            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
    </ul>
</div>
{{ end }}

{{ define "bottom-menu" }}
<div class="section bottom-menu">
    {{ partial "bottom_menu.html" (dict "Page" . "show_back_menu_item" true) }}
</div>
{{ end }}
