<!DOCTYPE html>
<html>

<head>
    {{ partial "head.html" . }}
    {{ block "head_resources" . }}
    <!-- Use this block to link to further resources like .js or .css files. -->
    {{ end }}
    <title>
        {{ block "title" . }}
        {{ .Title }}
        {{ end }}
    </title>
</head>

<body>
    <div class="wrap">
        <div class="section" id="title">{{ .Title }}</div>
        <div class="section" id="content">
            <iframe src="https://giphy.com/embed/9J7tdYltWyXIY" width="480" height="404" frameBorder="0"
                class="giphy-embed" allowFullScreen></iframe>
            <p><a href="https://giphy.com/gifs/internet-google-chrone-9J7tdYltWyXIY">via GIPHY</a></p>
            <h1 id="title"><a href="{{ '/' | relURL }}">Go Home</a></h1>
        </div>
        <div class="section footer">{{ partial "footer.html" . }}</div>
    </div>
</body>

</html>